{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/my_offers.js' %}" defer></script>
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/my_reservations.css' %}">
{% endblock styles %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1>My Offers</h1>

    {% if provider %}
        <div class="card mb-3 mt-5">
            <div class="card-header">
                <h2>{{ provider.name }}</h2>
            </div>
            <div class="card-body">
                {% for service in services %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <p class="card-text" id="service-description-{{ service.id }}">{{ service.description }}</p>
                            <textarea class="form-control d-none" id="edit-description-{{ service.id }}">{{ service.description }}</textarea>
                            <button class="btn btn-primary" onclick="editDescription({{ service.id }})">Edit</button>
                            <button class="btn btn-success d-none" id="save-description-btn-{{ service.id }}" onclick="saveDescription({{ service.id }})">Save</button>
                            <a href="{% url 'delete_offer' service.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Calendar section -->
        <div id="calendar-container">
            <div id="calendar-header">
                <pre id="prev-week">&lt;</pre>
                <span id="week-range"></span>
                <pre id="next-week">&gt;</pre>
            </div>
            <div id="calendar">
                <!-- Calendar content will be injected here -->
            </div>
        </div>
        
        <div id="timeslot-info" class="mt-3">
            <p id="timeslot-message">No event selected, to view an event select it in the calendar first.</p>
        </div>
    {% else %}
        <div class="card mb-3 mt-5">
            <div class="card-header">
                <h2>New Offer</h2>
            </div>
            <div class="card-body">
                <p>You don't have an offer yet, want to create a new offer?</p>
                <a href="{% url 'create_offer' %}" class="btn btn-primary">Create</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
